body {
    background-color: bisque
    font-family:bai jamjuree;
} 
#container {
    display: flex;/*Elementos dispostos me linha */

}
.cartao {
    margin: 1rem 1rem;
    background-color: aqua;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33%-6rem);

}
.cartao_conteudo {
    text-align: center;
    /*background-color: aquamarine;*/
    height: 100%;

}
.cartao_conteudo h3 {
    background-color: tomato;
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    
}